@model EventSetupModel
@{
    ViewData["Title"] = "SetupEvent";
}

@{
    var state = "Active";

    if (Model.EndDate < DateTime.Today)
    {
        state = "Past";
    }
}

<div class="bright-bg height80">
    <div class="row ml-lg-5">
        <div class="ml-auto mr-auto"><span class="paradiso h4">@state event</span></div>
    </div>
    
    <form asp-area="Manager" asp-controller="Settings" asp-action="SetupEvent" method="post">
        <input asp-for="Id" type="hidden" />
        <div asp-validation-summary="All" class="text-danger ml-md-5"></div>
        <div class="row">
            <div class="col-md-6">
                <div class="row offset-3"><span class="alert-danger px-2">@ViewData["Msg"]</span></div>
                <div class="col-md-10 ml-auto mr-auto">
                    <div class="form-group">
                        <label asp-for="Title"></label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Code"></label>
                        <input asp-for="Code" class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group col-6">
                            <input type="text" asp-for="StartDate" value="@Model.StartDate.ToString("yyyy-MM-dd")" class="datepicker form-control">
                            <label asp-for="StartDate"></label>
                        </div>
                        <div class="form-group col-6">
                            <input type="text" asp-for="EndDate" value="@Model.EndDate.ToString("yyyy-MM-dd")" class="datepicker form-control">
                            <label asp-for="EndDate"></label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="col-md-10 ml-auto mr-auto">
                    <hr />
                    <div>
                        <label class="custom-checkbox">
                            Event is closed
                            <input type="checkbox" asp-for="IsClosed">
                            <span class="checkmark"></span>
                        </label>
                        <span asp-validation-for="IsClosed" class="text-danger"></span>
                    </div>
                    <hr />
                    <div>
                        <label class="custom-checkbox">
                            Anonymous participants allowed
                            <input type="checkbox" asp-for="AnonymousAllowed">
                            <span class="checkmark"></span>
                        </label>
                        <span asp-validation-for="AnonymousAllowed" class="text-danger"></span>
                    </div>
                    <hr />
                    <div>
                        <label class="custom-checkbox">
                            Moderation is ON
                            <input type="checkbox" asp-for="IsModerated">
                            <span class="checkmark"></span>
                        </label>
                        <span asp-validation-for="IsModerated" class="text-danger"></span>
                    </div>
                    <hr />                    
                </div>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-6 text-right">
                <div class="mr-5">
                    <a asp-area="manager" asp-controller="activities" asp-action="index" class="btn btn-outline-dark">CANCEL</a>
                </div>
            </div>
            <div class="col-6 text-left">
                <div class="ml-5">
                    <button type="submit" class="btn btn-secondary">SAVE</button>
                </div>
            </div>
        </div>
    </form>
</div>

<h3>@ViewData["Message"]</h3>
<h3>@TempData["Msg"]</h3>

<form method="post" enctype="multipart/form-data" asp-area="manager" asp-controller="settings" asp-action="uploadfiles">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload your logo:</p>
            <input type="file" name="logo" />
            <input asp-for="Id" type="hidden" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10">
            <input type="submit" value="Upload" class="btn btn-secondary"/>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_DatePicker" />
}