@model ICollection<QuestionFullModel>

@{
    foreach (var question in Model)
    {
        var identifictor = "question" + question.Id;
        <div id="@identifictor">
            <div class="mr-3">                
                    @question.Content                
            </div>
            <div class="row ml-0">
                <span class="content-mutted">@question.PublishedOn</span>
                <span class="ml-3">@question.AuthorName</span> 
                <div class="row ml-auto mr-4">
                    <span id="button@(question.Id)">
                        @{
                            if (question.Replies.Any())
                            {
                                <a class="mx-2" data-toggle="collapse" href="#repliesFor@(question.Id)" role="button" aria-expanded="false" aria-controls="repliesFor@(question.Id)">
                                    <span class="font-weight-bold px-2">R</span>
                                </a>
                            }
                        }
                    </span>
                    <form action="/manager/questions/review" method="post" class="mx-1">
                        <input value="@question.Id" type="hidden" name="Id" />
                        <input value="@question.EventId" type="hidden" name="EventId" />
                        <input value="@question.EventCode" type="hidden" name="EventCode" />
                        <input type="submit" class="btn btn-sm btn-outline-info" value="Arc" formaction="/manager/questions/archive" />
                        <input type="submit" class="btn btn-sm btn-outline-info" value="Del" formaction="/manager/questions/delete" />
                        <input type="submit" class="btn btn-sm btn-outline-info" value="Rev" />
                    </form>
                </div>
            </div>

            <div class="collapse mt-3" id="repliesFor@(question.Id)">
                @{
                    foreach (var reply in question.Replies)
                    {
                        <div class="row replies">
                            <span>@reply.Content</span>
                            <span class="ml-auto paradiso">@reply.AuthorName</span>
                        </div>
                        <hr class="style4" />
                    }
                }
            </div>

            <hr class="style6" />
        </div>
    }
}